html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  
}
img {
    width: 100%;
    height: auto;
    display: block;
}
.wrapper {
    width: 85%;
    max-width: 2140px;
    margin: 0 auto;
}
